* {
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    color-scheme: dark;
}  

:root {
    background: #fff;
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

table,
tr,
td {
    margin: auto;
}

.mono {
    font: 1.3rem mono;
}

#main_heading {
    font-size: 150%;
}

.content {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-flow: minmax(100px, auto);
}

.item {
    padding-right: 1rem;
    grid-column: auto;
    grid-row: auto;
    border: 1px solid;
    display: flex;
}

.item:hover {
    background-color: gainsboro;
}

.item img {
    padding: 5px;
    width: 12.5vw;
    height: 12.5vw;
}

.item_text {
    display: block;
    text-align: justify;
    line-clamp: 10;
    
}

