* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    body {
        background: #fff;
        color: #111;
    }

    :root {
        --hover-color: gainsboro;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #181a1b;
        color: #e8e6e3;
    }

    :root {
        --hover-color: #60686c;
    }
}

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 1200px;
}

table,
tr,
td {
    margin: auto;
}

.mono {
    font: 1.3rem monospace;
}

#main_heading {
    font-size: 225%;
}

.content {
    padding: 0.75rem;
    padding-top: 0;
    display: grid;
    gap: 1rem;
}

@media (min-width: 900px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

.item {
    padding-right: 1rem;
    grid-column: auto;
    grid-row: auto;
    border: 1px solid;
    display: flex;
    align-content: center;
    min-height: 100%;
}

.item:hover {
    background-color: var(--hover-color);
}

.item img {
    padding: 5px;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.item_text {
    display: block;
    text-align: justify;
}

.content a {
    text-decoration: none;
    color: inherit
}